{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Book Appointment</title>
    <link rel="stylesheet" href="{% static 'appointments/css/styles.css' %}">\n    <link rel="stylesheet" href="{% static 'appointments/css/styles_profile.css' %}">
</head>
<body>

<div class="container">
    <div class="form-card">
        <h2>Book Appointment</h2>

        <form method="POST">
            {% csrf_token %}

            <input type="text" name="name" placeholder="Patient Name" required>
            <input type="number" name="age" placeholder="Age" required>

            <textarea name="problem" placeholder="Describe your problem" required></textarea>

            <input type="date" name="date" required>

            <button class="btn btn-primary" type="submit">
                Book Appointment
            </button>
        </form>

        <br>

        <a href="{% url 'patient-dashboard' %}">
            <button class="btn btn-danger">Back to Dashboard</button>
        </a>
    </div>
</div>

</body>
</html>
