{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Doctor Dashboard</title>
    <link rel="stylesheet" href="{% static 'appointments/css/styles.css' %}">\n    <link rel="stylesheet" href="{% static 'appointments/css/styles_profile.css' %}">
</head>
<body>

<div class="container">
    <h2>Doctor Dashboard</h2>

    <div style="margin-top: 20px;"></div>
        <a href="{% url 'notifications' %}">
            <button>Notifications 🔔</button>
        </a>
    </div>

    <table class="table" border="1">
        <tr>
            <th>Patient</th>
            <th>Problem</th>
            <th>Time</th>
            <th>Status</th>
        </tr>

        {% for appointment in appointments %}
        <tr>
            <td>{{ appointment.patient.user.username }}</td>
            <td>{{ appointment.problem }}</td>
            <td>{{ appointment.time|time:"h:i A" }}</td>

            <td class="status-{{ appointment.status|lower }}">
                {{ appointment.status }}

                {% if appointment.status == "Assigned" %}
                    <br><br>
                    <a href="{% url 'accept' appointment.id %}">
                        <button class="btn btn-primary">Accept</button>
                    </a>

                    <a href="{% url 'reject' appointment.id %}">
                        <button class="btn btn-danger">Reject</button>
                    </a>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4" style="text-align:center;">
                No appointments available.
            </td>
        </tr>
        {% endfor %}
    </table>

    <div style="margin-top: 20px;">

        <a href="{% url 'profile' %}">
            <button class="btn btn-primary">Update Profile</button>
        </a>

        <a href="{% url 'logout' %}">
            <button class="btn btn-danger">Logout</button>
        </a>

    </div>

</div>

</body>
</html>
