{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'appointments/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'appointments/css/styles_profile.css' %}">
</head>
<body>

<div class="login-box">
    <h2>Login</h2>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}

    {% if message %}
        <p style="color:green;">{{ message }}</p>
    {% endif %}

    {% if messages %}
        {% for message in messages %}
            <p style="color:red;">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button class="btn btn-primary" type="submit">Login</button>
    </form>

    <a href="{% url 'forgot-password' %}">Forgot Password?</a>

    <p class="footer-note">
        Don't have an account?
        <a href="{% url 'register' %}">Register</a>
    </p>
</div>

</body>
</html>
