{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Patient Dashboard</title>
    <link rel="stylesheet" href="{% static 'appointments/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'appointments/css/styles_profile.css' %}">
</head>
<body>

<div class="container">
    <h2>My Appointments</h2>

    <div class="dashboard-actions">
        <a href="{% url 'notifications' %}">
            <button class="btn btn-primary">Notifications</button>
        </a>
    </div>

    <div class="dashboard-actions">
        <a href="{% url 'booking' %}">
            <button class="btn btn-primary">Book New Appointment</button>
        </a>
    </div>

    <br><br>

    <table class="table" border="1">
        <tr>
            <th>Doctor</th>
            <th>Problem</th>
            <th>Time</th>
            <th>Status</th>
            <th>Action</th>
            <th>Token</th>
            <th>Download</th>
        </tr>

        {% for appointment in appointments %}
        <tr>
            <td>
                {% if appointment.doctor %}
                    {{ appointment.doctor.user.username }}
                {% else %}
                    Not assigned
                {% endif %}
            </td>
            <td>{{ appointment.problem }}</td>
            <td>
                {% if appointment.time %}
                    {{ appointment.time|time:"h:i A" }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td><span class="status status-{{ appointment.status|lower }}">{{ appointment.status }}</span></td>
            <td>
                {% if appointment.status == "Pending" %}
                    <a href="{% url 'cancel-appointment' appointment.id %}">
                        <button>Cancel</button>
                    </a>
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if appointment.is_token_confirmed %}
                    {{ appointment.token_number }}
                {% else %}
                    Not Available
                {% endif %}
            </td>
            <td>
                {% if appointment.is_token_confirmed %}
                    <a href="{% url 'download-token' appointment.id %}">
                        <button class="btn btn-primary">Download</button>
                    </a>
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7" style="text-align:center;">No appointments found.</td>
        </tr>
        {% endfor %}
    </table>

    <div class="dashboard-actions">
        <a href="{% url 'profile' %}">
            <button class="btn btn-primary">Update Profile</button>
        </a>

        <a href="{% url 'logout' %}">
            <button class="btn btn-danger">Logout</button>
        </a>
    </div>
</div>

</body>
</html>
